.form-main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.form-card {
  width: 320px;
  border-radius: 12px;
  padding: 25px;
  border: 1px solid white;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

form label {
    color: white;
}

form input, textarea {
    border: 0;
    border-radius: 3px;
    padding: 6px 8px;
    resize: vertical;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.subBtn {
    border: 0;
    padding: 8px 0px;
    font-weight: 600;
    margin-top: 10px;
    color: white;
    cursor: pointer;
}
.subBtn:active {
    scale: 0.95;
    transition: .5s ease;
}

.hh1 {
  margin-top: 20px;
  padding: 20px;
  width: 280px;
  text-align: center;
  border-radius: 10px;
  background: rgba(76, 71, 71, 0.5);
  box-shadow: 0 0 15px rgba(185, 179, 179, 0.5);
}

.hh1 .hh2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.hh1 .hh3 {
  opacity: 0.8;
}